@import "../../styles/mixins.scss";

.additional-info {
  display: flex;
  gap: 22px;
  flex-direction: column;
  padding-bottom: 59px;
}

.additional-info-list-item {
  display: flex;
  font-size: 12px;
  gap: 11px;
  padding: 0 52px;
}

.inner-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.inner-list-name {
  color: #4252d1;
}
.bonus {
  font-weight: 700;
  font-size: 14px;
}
.founder-name {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
}

.gift-svg {
  width: 45px;
  height: 45px;
}

.founder-svg {
  width: 51px;
  height: 49px;
}

@include screen-size("medium") {
  .additional-info {
    gap: 16px;
    flex-direction: column-reverse;
    padding-bottom: 0px;
  }
  .additional-info-list-item {
    padding: 0 140px;
  }
}
@include screen-size("large") {
  .additional-info {
    align-self: self-start;
    text-align: left;
  }
  .gift-svg {
    width: 38px;
    height: 38px;
  }
  .founder-svg {
    width: 51px;
    height: 49.27px;
  }
  .additional-info-list-item {
    display: flex;
    font-size: 12px;
    gap: 16px;
    padding: 0px;
  }
  .additional-info li:first-child {
    gap: 30px;
  }

  .bonus {
    font-size: 12px;
  }
  .founder-name {
    font-size: 13px;
  }
}
