@import "./mixins.scss";

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 16px 0px 16px;
  position: relative;
}

.under-text {
  font-family: "Gilroy-Bold", sans-serif;
  position: absolute;
  bottom: -50px;
  left: 0;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1.5px #ffffff0d;
  text-stroke: 1.5px #ffffff0d;
  font-size: 129px;
  font-weight: 800;
  line-height: 158px;
}

@include screen-size("medium") {
  .main-container {
    padding: 0px 60px 36px 60px;
  }
  .dot {
    border-radius: 50%;
    width: 6px;
    height: 6px;
  }
  .dot:nth-child(1) {
    background-color: #f16529;
    position: absolute;
    top: 460px;
    right: 30px;
  }
  .dot:nth-child(2) {
    background-color: #2965f1;
    position: absolute;
    top: 539px;
    right: 144px;
  }

  .dot:nth-child(3) {
    background-color: #f0be25;
    position: absolute;
    top: 624px;
    right: 22px;
  }
  .dot:nth-child(4) {
    background-color: #ff9800;
    position: absolute;
    top: 671px;
    right: 155px;
  }
  .dot:nth-child(5) {
    background-color: #48aef3;
    position: absolute;
    top: 778px;
    right: 56px;
  }
}

@include screen-size("large") {
  .main-container {
    padding: 92px 256px 140px 256px;
    flex-direction: row;
    align-items: normal;
    gap: 135px;
  }
  .desktop-container {
    width: 50%;
  }

  .dot:nth-child(1) {
    top: 260px;
  }
  .dot:nth-child(2) {
    top: 339px;
  }

  .dot:nth-child(3) {
    top: 424px;
  }
  .dot:nth-child(4) {
    top: 471px;
  }
  .dot:nth-child(5) {
    top: 608px;
  }
}
